t/* Box Model */
*{
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

*{padding:0; margin:0;}

*{
  box-sizing: border-box;
}

html {
    height:100%;
}
/* Clear fix hack */
.clearfix :after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/*KNEDGE FONT*/
@font-face {
    font-family: 'knedgelight';
      src: url('../font/knedgelight-webfont.woff') format('woff'),
         url('../font/knedgelight-webfont.woff') format('woff2'),
         url('../font/knedgelight-webfont.ttf') format('truetype'),
         url('../font/knedgelight-webfont.svg#knedgelight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'knedgelight_italic';
     src: url('../font/knedgelightitalic-webfont.woff') format('woff'),
         url('../font/knedgelightitalic-webfont.woff2') format('woff2'),
         url('../font/knedgelightitalic-webfont.ttf') format('truetype'),
         url('../font/knedgelightitalic-webfont.svg#knedgelight_italic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'knedgeregular';
     src: url('../font/knedgeregular-webfont.woff') format('woff'),
         url('../font/knedgeregular-webfont.woff2') format('woff2'),
         url('../font/knedgeregular-webfont.ttf') format('truetype'),
         url('../font/knedgeregular-webfont.svg#knedgeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'knedgeregular_italic';
     src: url('../font/knedgeregularitalic-webfont.woff') format('woff'),
         url('../font/knedgeregularitalic-webfont.woff2') format('woff2'),
         url('../font/knedgeregularitalic-webfont.ttf') format('truetype'),
         url('../font/knedgeregularitalic-webfont.svg#knedgeregular_italic') format('svg');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'knedgebold';
       src: url('../font/knedgebold-webfont.woff') format('woff'),
         url('../font/knedgebold-webfont.woff2') format('woff2'),
         url('../font/knedgebold-webfont.ttf') format('truetype'),
         url('../font/knedgebold-webfont.svg#knedgebold') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'knedgebold_italic';
       src: url('../font/knedgebolditalic-webfont.woff') format('woff'),
         url('../font/knedgebolditalic-webfont.woff2') format('woff2'),
         url('../font/knedgebolditalic-webfont.ttf') format('truetype'),
         url('../font/knedgebolditalic-webfont.svg#knedgebold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}
@font-face {
    font-family: 'knedgebook';
       src: url('../font/knedgebook-webfont.woff') format('woff'),
         url('../font/knedgebook-webfont.woff2') format('woff2'),
         url('../font/knedgebook-webfont.ttf') format('truetype'),
         url('../font/knedgebook-webfont.svg#knedgebook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'knedgeheavy';
       src: url('../font/knedgeheavy-webfont.woff') format('woff'),
         url('../font/knedgeheavy-webfont.woff2') format('woff2'),
         url('../font/knedgeheavy-webfont.ttf') format('truetype'),
         url('../font/knedgeheavy-webfont.svg#knedgeheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'knedgeheavy_condensed';
       src: url('../font/knedgeheavycondensed-webfont.woff') format('woff'),
         url('../font/knedgeheavycondensed-webfont.woff2') format('woff2'),
         url('../font/knedgeheavycondensed-webfont.ttf') format('truetype'),
         url('../font/knedgeheavycondensed-webfont.svg#knedgeheavy_condensed') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'knedgeheavy_italic';
       src: url('../font/knedgeheavyitalic-webfont.woff') format('woff'),
         url('../font/knedgeheavyitalic-webfont.woff2') format('woff2'),
         url('../font/knedgeheavyitalic-webfont.ttf') format('truetype'),
         url('../font/knedgeheavyitalic-webfont.svg#knedgeheavy_italic') format('svg');
    font-weight: normal;
    font-style: italic;

}

/*Commencementmono FONT*/
@font-face {
    font-family: 'commencementmonoregular';
       src: url('../font/commencementmono-webfont.woff') format('woff'),
         url('../font/commencementmono-webfont.woff2') format('woff2'),
         url('../font/commencementmono-webfont.ttf') format('truetype'),
         url('../font/commencementmono-webfont.svg#commencementmono') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*rocle light FONT*/
@font-face {
    font-family: 'roclelight';
       src: url('../font/roclelight-webfont.woff') format('woff'),
         url('../font/roclelight-webfont.woff2') format('woff2'),
         url('../font/roclelight-webfont.ttf') format('truetype'),
         url('../font/roclelight-webfont.svg#roclelight') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*FRAKTUR FONT*/
@font-face {
    font-family: 'frakturmedium';
       src: url('../font/frakturjmmedium-webfont.woff') format('woff'),
         url('../font/frakturjmmedium-webfont.woff2') format('woff2'),
         url('../font/frakturjmmedium-webfont.ttf') format('truetype'),
         url('../font/frakturjmmedium-webfont.svg#fraktur_jmmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'frakturposter';
       src: url('../font/frakturjmposter-webfont.woff') format('woff'),
         url('../font/frakturjmposter-webfont.woff2') format('woff2'),
         url('../font/frakturjmposter-webfont.ttf') format('truetype'),
         url('../font/frakturjmposter-webfont.svg#fraktur_jmposter') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'closedheavy';
       src: url('../font/closedheavy-webfont.woff') format('woff'),
         url('../font/closedheavy-webfont.woff2') format('woff2'),
         url('../font/closedheavy-webfont.ttf') format('truetype'),
         url('../font/closedheavy-webfont.svg#closedheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*Arquare FONT*/
@font-face {
    font-family: 'arquarelight';
       src: url('../font/arquarelight-webfont.woff') format('woff'),
         url('../font/arquarelight-webfont.woff2') format('woff2'),
         url('../font/arquarelight-webfont.ttf') format('truetype'),
         url('../font/arquarelight-webfont.svg#arquarelight') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*REBUILD FONT*/
@font-face {
    font-family: 'rebuildlight';
       src: url('../font/rebuildlight-webfont.woff') format('woff'),
         url('../font/rebuildlight-webfont.woff2') format('woff2'),
         url('../font/rebuildlight-webfont.ttf') format('truetype'),
         url('../font/rebuildlight-webfont.svg#rebuildlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'rebuildmedium';
       src: url('../font/rebuildmedium-webfont.woff') format('woff'),
         url('../font/rebuildmedium-webfont.woff2') format('woff2'),
         url('../font/rebuildmedium-webfont.ttf') format('truetype'),
         url('../font/rebuildmedium-webfont.svg#rebuildmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rebuildbold';
       src: url('../font/rebuildbold-webfont.woff') format('woff'),
         url('../font/rebuildbold-webfont.woff2') format('woff2'),
         url('../font/rebuildbold-webfont.ttf') format('truetype'),
         url('../font/rebuildbold-webfont.svg#rebuildbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

/*MIES FONT*/
@font-face {
    font-family: 'miesstencil';
       src: url('../font/miesstencil-webfont.woff') format('woff'),
         url('../font/miesstencil-webfont.woff2') format('woff2'),
         url('../font/miesstencil-webfont.ttf') format('truetype'),
         url('../font/miesstencil-webfont.svg#miesstencil') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*flutterd FONT*/
@font-face {
    font-family: 'flutterdimension';
       src: url('../font/flutterdimension-webfont.woff') format('woff'),
         url('../font/flutterdimension-webfont.woff2') format('woff2'),
         url('../font/flutterdimension-webfont.ttf') format('truetype'),
         url('../font/flutterdimension-webfont.svg#flutterdimension') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'flutterbold';
       src: url('../font/flutterbold-webfont.woff') format('woff'),
         url('../font/flutterbold-webfont.woff2') format('woff2'),
         url('../font/flutterbold-webfont.ttf') format('truetype'),
         url('../font/flutterbold-webfont.svg#flutterbold') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'flutterlight';
       src: url('../font/flutterlight-webfont.woff') format('woff'),
         url('../font/flutterlight-webfont.woff2') format('woff2'),
         url('../font/flutterlight-webfont.ttf') format('truetype'),
         url('../font/flutterlight-webfont.svg#flutterlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fluttermedium';
       src: url('../font/fluttermedium-webfont.woff') format('woff'),
         url('../font/fluttermedium-webfont.woff2') format('woff2'),
         url('../font/fluttermedium-webfont.ttf') format('truetype'),
         url('../font/fluttermedium-webfont.svg#fluttermedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*opcodeFONT*/
@font-face {
    font-family: 'opcodebinary';
       src: url('../font/opcode-binary-webfont.woff') format('woff'),
         url('../font/opcode-binary-webfont.woff2') format('woff2'),
         url('../font/opcode-binary-webfont.ttf') format('truetype'),
         url('../font/opcode-binary-webfont.svg#opcodebinary') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*heritageoFONT*/
@font-face {
    font-family: 'heritageobold';
       src: url('../font/herita-geo-webfont.woff') format('woff'),
         url('../font/herita-geo-webfont.woff2') format('woff2'),
         url('../font/herita-geo-webfont.ttf') format('truetype'),
         url('../font/herita-geo-webfont.svg#herita-geobold') format('svg');
    font-weight: bold;
    font-style: normal;

}
/*bottomi FONT*/
@font-face {
    font-family: 'bottomioutline';
       src: url('../font/bottomioutline-webfont.woff') format('woff'),
         url('../font/bottomioutline-webfont.woff2') format('woff2'),
         url('../font/bottomioutline-webfont.ttf') format('truetype'),
         url('../font/bottomioutline-webfont.svg#bottomioutline') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bottomifilled';
       src: url('../font/bottomifilled-webfont.woff') format('woff'),
         url('../font/bottomifilled-webfont.woff2') format('woff2'),
         url('../font/bottomifilled-webfont.ttf') format('truetype'),
         url('../font/bottomifilled-webfont.svg#bottomifilled') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*rubend FONT*/
@font-face {
    font-family: 'rubendexpandable';
       src: url('../font/rubendexpandable-webfont.woff') format('woff'),
         url('../font/rubendexpandable-webfont.woff2') format('woff2'),
         url('../font/rubendexpandable-webfont.ttf') format('truetype'),
         url('../font/rubendexpandable-webfont.svg#rubendexpandable') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'rubendflexible';
       src: url('../font/rubendflexible-webfont.woff') format('woff'),
         url('../font/rubendflexible-webfont.woff2') format('woff2'),
         url('../font/rubendflexible-webfont.ttf') format('truetype'),
         url('../font/rubendflexible-webfont.svg#rubendflexible') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'rubendfoldable';
       src: url('../font/rubendfoldable-webfont.woff') format('woff'),
         url('../font/rubendfoldable-webfont.woff2') format('woff2'),
         url('../font/rubendfoldable-webfont.ttf') format('truetype'),
         url('../font/rubendfoldable-webfont.svg#rubendfoldable') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*asialphabet FONT*/
@font-face {
    font-family: 'asialphabetregular';
       src: url('../font/asialphabet-webfont.woff') format('woff'),
         url('../font/asialphabet-webfont.woff2') format('woff2'),
         url('../font/asialphabet-webfont.ttf') format('truetype'),
         url('../font/asialphabet-webfont.svg#asialphabetregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*futulabyrinth FONT*/
@font-face {
    font-family: 'futulabyrinthsquare';
       src: url('../font/futulabyrinthsquare-webfont.woff') format('woff'),
         url('../font/futulabyrinthsquare-webfont.woff2') format('woff2'),
         url('../font/futulabyrinthsquare-webfont.ttf') format('truetype'),
         url('../font/futulabyrinthsquare-webfont.svg#futulabyrinthsquare') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futulabyrinthcircuit';
       src: url('../font/futulabyrinthcircuit-webfont.woff') format('woff'),
         url('../font/futulabyrinthcircuit-webfont.woff2') format('woff2'),
         url('../font/futulabyrinthcircuit-webfont.ttf') format('truetype'),
         url('../font/futulabyrinthcircuit-webfont.svg#futulabyrinthcircuit') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*fatol FONT*/
@font-face {
    font-family: 'fatolheavy';
       src: url('../font/fatolheavy-webfont.woff') format('woff'),
         url('../font/fatolheavy-webfont.woff2') format('woff2'),
         url('../font/fatolheavy-webfont.ttf') format('truetype'),
         url('../font/fatolheavy-webfont.svg#fatolheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*august FONT*/
@font-face {
    font-family: 'augustmedium';
       src: url('../font/augustmedium-webfont.woff') format('woff'),
         url('../font/augustmedium-webfont.woff2') format('woff2'),
         url('../font/augustmedium-webfont.ttf') format('truetype'),
         url('../font/augustmedium-webfont.svg#augustmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'augustmedium_italic';
       src: url('../font/augustmediumitalic-webfont.woff') format('woff'),
         url('../font/augustmediumitalic-webfont.woff2') format('woff2'),
         url('../font/augustmediumitalic-webfont.ttf') format('truetype'),
         url('../font/augustmediumitalic-webfont.svg#augustmedium_italic') format('svg');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'augustlight';
       src: url('../font/augustlight-webfont.woff') format('woff'),
         url('../font/augustlight-webfont.woff2') format('woff2'),
         url('../font/augustlight-webfont.ttf') format('truetype'),
         url('../font/augustlight-webfont.svg#augustlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'augustlight_italic';
       src: url('../font/augustlightitalic-webfont.woff') format('woff'),
         url('../font/augustlightitalic-webfont.woff2') format('woff2'),
         url('../font/augustlightitalic-webfont.ttf') format('truetype'),
         url('../font/augustlightitalic-webfont.svg#augustlight_italic') format('svg');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'augustbold';
       src: url('../font/augustbold-webfont.woff') format('woff'),
         url('../font/augustbold-webfont.woff2') format('woff2'),
         url('../font/augustbold-webfont.ttf') format('truetype'),
         url('../font/augustbold-webfont.svg#augustbold') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'augustbold_condensed';
       src: url('../font/augustboldcondensed-webfont.woff') format('woff'),
         url('../font/augustboldcondensed-webfont.woff2') format('woff2'),
         url('../font/augustboldcondensed-webfont.ttf') format('truetype'),
         url('../font/augustboldcondensed-webfont.svg#augustbold_condensed') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'augustbold_expanded';
       src: url('../font/augustboldexpanded-webfont.woff') format('woff'),
         url('../font/augustboldexpanded-webfont.woff2') format('woff2'),
         url('../font/augustboldexpanded-webfont.ttf') format('truetype'),
         url('../font/augustboldexpanded-webfont.svg#augustbold_expanded') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'augustbold_italic';
       src: url('../font/augustbolditalic-webfont.woff') format('woff'),
         url('../font/augustbolditalic-webfont.woff2') format('woff2'),
         url('../font/augustbolditalic-webfont.ttf') format('truetype'),
         url('../font/augustbolditalic-webfont.svg#augustbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}
/*august FONT*/
@font-face {
    font-family: 'bernhardheavy';
       src: url('../font/bernhardjmheavy-webfont.woff') format('woff'),
         url('../font/bernhardjmheavy-webfont.woff2') format('woff2'),
         url('../font/bernhardjmheavy-webfont.ttf') format('truetype'),
         url('../font/bernhardjmheavy-webfont.svg#bernhard_jmheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}




/******************************************
/* BODY
/*******************************************/
body {

  height:100%;
 

}
a, a:visited{
  text-decoration: none;
  color: black;
}

/******************************************
/* HEADER
/*******************************************/

.main_innerwrapper{
  width: 88%;
  height: 100%;
  padding-right: 30px;
  float:left;  
  padding-bottom: 20px;

}




/*.side_innerwrapper{
  background-color: yellow;
  margin-left:30px;
  width: 9%;
  height:100vh;
  position: fixed;
  right: 0;
  float: right;

}

*/


.side.about{
  border-left: 1px solid black;
    margin-left:30px;
  background-color: white;
  width: 5%;
  display: inline-block;
   height:100vh;
  float: left;
  min-height: 100%;
  z-index: 102;
  position: fixed;
  top:0;
}


.side.news{
  background-color: white;
  height: 100%;
  float: right;
  border-left: 1px solid black;
  width: 5%;
  height:100vh;
  position: fixed;
right:0;
z-index: 105;

}
.popup.about{
  width: 100%;
  background-color: white;
  height:100%;
  display: none;
  z-index: 100;


}
  .popup.news{
    top: 0;
    background-color: white;
    z-index: 100006;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
  /*  position: fixed;*/
    display: none;

}





header{
   margin-left: 30px;
   padding-right: 30px;
   margin-bottom: 0px;
/*  margin-right: 30px;*/
/*  margin-left: 30px; */
  top: 0;
  z-index: 2;
   width: 88%;
  background: white;
  position: fixed;

}



/*top*/

.top{

  width: 100%;
  padding-top:20px;
  padding-bottom:30px;
  border-bottom: 1px solid black;
}

/*title*/

.title{
  float: left;
  font-family: 'Helvetica', sans-serif;
  font-size:17px;
}


/*nav*/
nav{
  float:right;
}

/*nav-list*/

.nav-link{
    float: left;
}

/*menu color hover*/

.nav-link.about a:hover{
  color:#ffe400 ;
}
.nav-link.news a:hover{
  color:#00FF00 ;
}


.test.one{
  display: none;
  background-color: #7D7D7D;
  width:120px;
  height:100%;
   position: fixed; 
 top: 0;
 z-index: 100000;
 right:0;
}
.test.two{
   display: none;
    position: fixed; 
    top: 0;
    z-index: 100002;
    right: 0;
    width: 60px; 
    height: 100%; 
    background-color:#191919 ;

}




/******************************************
/* ABOUT
/*******************************************/




.insemititle{ padding-left: 30px;}




/*about&news content wrapper*/
.content{
   width:90%;
   height:100%;
   padding-left: 30px;
   padding-right: 20px;
   font-family: 'Helvetica', sans-serif;
   color: black;
}

/*semititle*/
.insemititle{
  padding-bottom: 5px;
    padding-top:18px;
   font-family: 'Helvetica', sans-serif;
   font-size: 17px;
   color: black;
}






/*about main text*/
.about.text{
  width: 100%;

  height:100%;
  font-size:17px;
}
/*about contact*/
.about.contact{
  padding-top: 20px;
  font-size:17px;
  line-height: 140%;
}
/*about copyright*/
.about.right{

  font-size:17px;
  line-height: 125%;
}

/******************************************
/* NEWS
/*******************************************/

/*news*/

/*news text*/
.news.text{
   width:100%;
   height:100%;
   font-size:17px;
}

.about.contact a{
  color: black;
}

.about.contact a:hover{
  color: blue;
}

/******************************************
/* Main section
/*******************************************/

section{  
  margin-right: 30px;
  margin-left: 30px;
  margin-top:50px;
  width: 100%;
  
}



/******************************************
/* titles of type
/*******************************************/

.type{
  height:66px;
  width: 100%;
  border-bottom: 1px solid black;
   text-align:center;
  padding-top: 1px;
  cursor: pointer;
}

/*
h1{
  text-align:center;
  padding-top: 1px;
  cursor: pointer;
}
*/




/******************************************
/* type-content
/*******************************************/


#knedge{
  font-family: 'knedgebold',sans-serif;
  font-size: 60px;
}

#commencementmono{
  font-family: 'commencementmonoregular',sans-serif;
  font-size: 60px;
}


#rocle{
  font-family: 'roclelight',sans-serif;
  font-size: 60px;
}
#fraktur{
  font-family: 'frakturmedium',sans-serif;
  font-size: 60px;
}
#closed{
  font-family: 'closedheavy',sans-serif;
  font-size: 60px;
}
#arquare{
  font-family: 'arquarelight',sans-serif;
  font-size: 60px;
}


#rebuild{
  font-family: 'rebuildlight',sans-serif;
  font-size: 60px;
}
#mies{
  font-family: 'miesstencil',sans-serif;
  font-size: 60px;
}
#flutter{
  font-family: 'flutterdimension',sans-serif;
  font-size: 60px;
}
#heritageo{
  font-family: 'heritageobold',sans-serif;
  font-size: 55px
}


#bottomi{
    font-family: 'bottomioutline',sans-serif;
  font-size: 55px;
}


#rubend{
    font-family: 'rubendfoldable',sans-serif;
    font-size: 56px;
}

#asialphabet{
    font-family: 'asialphabetregular',sans-serif;
    font-size: 50px;
}

#opcode{
    font-family: 'opcodebinary',sans-serif;
    font-size: 60px;
}
#fatol{
    font-family: 'fatolheavy',sans-serif;
    font-size: 60px;
}

#futulabyrinth{
    font-family: 'futulabyrinthcircuit',sans-serif!important ;
    font-size: 50px  ;
}

#august{
    font-family: 'augustmedium',sans-serif;
    font-size: 60px;
}
#bernhard{
    font-family: 'bernhardheavy',sans-serif;
    font-size: 57px;
}







.typetesting{
  display: none;
  width: 100%;
  border-bottom: 1px solid black; 
  height: 100%;
  padding-bottom: 20px;

}


section ul{
  margin:0;
  overflow: hidden;
  line-height: 120%;

}


section li {
  color: black;
  text-decoration: none;
  display: block;
  font-size: 16px

}


.newstitle{
  width:55%;
  float:left;
}
.inusetitle{
/*  width:45%;*/
text-align: right;
  padding-right:40px;
  float:left;
  display: none;
}
.closeout{
  font-size: 17px;
  cursor:pointer;
  color:white;
  padding-top: 18px;  
  text-align: right;
  padding-right:60px;
  height:30%;


}





.control{
  width: 15%;
  height: 100%;
  float: left;
  font-size: 14px;
  padding-top: 20px;

}
.size{
  width: 100%;
  height: 80%;
    padding-bottom: 20px;
}

.size li{
  color: black;
  text-decoration: none;
  display: block;
  font-size: 14px;
  cursor: pointer;

}

.sizing{
  margin-top: 4px;
}

.module{
  float: left;
  height:20%;

}

.specimen{
  margin-top: 20px;
}

aside{
  padding-top: 20px;
/*  padding-right: 60px;*/
  padding-left: 20px;
  width: 85%;
  float: right;
/*   height: 100%;*/
}

.selected{
  color: red;
}

.inputtesting{
  padding: 0px auto 0px;

}

textarea::-webkit-scrollbar {
   display: none;

 }

.typeout{
    vertical-align: top;
  resize: none;
/*height: 100%;*/
 /*  display:block;*/
  text-align:center;
  font-size: 60px;
  width:100%;
  border:none;
  outline:none;
   overflow:hidden;

    padding:10px 10px;
  background-color:#DAF8FA;
/*  overflow: hidden;
   display:block;*/
}




.inusecontent{
  width:330px;
  height:230px;
  margin:15px 15px;
  top:400px;
  float:left;
  background-color:yellow;

}
.useimage{
  height:70%;
  padding-left:15px;
}



.

.typeout.rocle{
  font-family: 'roclelight',sans-serif !important;
}

.typeout.closed{
  font-family: 'closedheavy',sans-serif !important;
}
.typeout.arquare{
  font-family: 'arquarelight',sans-serif !important;
}

.typeout.mies{
  font-family: 'miesstencil',sans-serif !important;
}

.typeout.heritageo{
  font-family: 'heritageobold',sans-serif !important;

}

.typeout.bernhard{
  font-family: 'bernhardheavy',sans-serif !important;

}


.typeout.asialphabet{
    font-family: 'asialphabetregular',sans-serif!important;
    font-size: 60px;
}
.typeout.commencementmono{
  font-family: 'commencementmonoregular',sans-serif !important;
}

::-webkit-input-placeholder {
   color: black;
   line-height: 110%;
}



input[type=range]:focus {
    outline: none;
}


.reset{
  margin-top: 10px;
  font-size: 12px;
}